@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #fc7f09;
  --primary-color-light: #fffcfa;
  --primary-color-dark: #db6e09;
  --text-dark: #18181b;
  --text-light: #6b7280;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.header__container {
  position: relative;
  background-image: url('assets/car2.jpg');
  background-size: cover;
  background-position: center;
  padding: 60px 0;
}


.section__header {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: var(--text-dark);
  text-align: center;
}

.section__description {
  color: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  white-space: nowrap;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

.logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.logo a span {
  color: var(--text-dark);
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a {
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color-light);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: var(--primary-color);
}

.nav__links a:hover {
  color: var(--text-dark);
}

.nav__btn {
  display: none;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Adjust the z-index as needed */
  background-color: white; /* Optional: Set a background color to avoid transparency issues */
}


.header__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.header__image img {
  max-width: 600px;
  margin-inline: auto;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  color: var(--text-dark);
  text-align: center;
}

.header__content h1 span {
  color: var(--primary-color);
}

.header__content .section__description {
  margin-bottom: 2rem;
}

.header__btn {
  text-align: center;
}

.special__container :is(.section__header, .section__description) {
  max-width: 600px;
  margin-inline: auto;
}

.special__grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}

.special__card {
  padding: 1rem;
  text-align: center;
  border-radius: 2rem;
  transition: 0.3s;
}

.special__card:hover {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

.special__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-dark);
}

.special__card p {
  margin-bottom: 0.5rem;
  color: var(--text-light);
  line-height: 1.75rem;
}

.special__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.special__footer .price {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.explore__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.explore__content .section__description {
  margin-bottom: 2rem;
}

.explore__btn {
  text-align: center;
}

.banner__container {
  display: grid;
  gap: 1rem;
}

.banner__card {
  padding: 2rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
  transition: 0.3s;
}

.banner__card:hover {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

.banner__card .banner__icon {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 5px 11px;
  font-size: 2rem;
  color: var(--white);
  border-radius: 1rem;
}

.banner__card:nth-child(1) .banner__icon {
  background-color: #62b15c;
  box-shadow: 5px 5px 30px #62b15cd0;
}

.banner__card:nth-child(2) .banner__icon {
  background-color: #ff3e67;
  box-shadow: 5px 5px 30px #ff3e67d0;
}

.banner__card:nth-child(3) .banner__icon {
  background-color: #185adb;
  box-shadow: 5px 5px 30px #185adbd0;
}

.banner__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.banner__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
  line-height: 1.75rem;
}

.banner__card a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 500;
  color: var(--primary-color);
}

.banner__card a span {
  font-size: 1.25rem;
  transition: 0.3s;
}

.banner__card a:hover span {
  transform: translateX(10px);
}

/*story page*/

header {
  background-size: cover;
  height: 60vh;
  background-position: 50%;
  padding: 300px 0;
  text-align: center;
  margin-top: 80px; /* To push content below fixed navbar */
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header p {
  margin: 10px 0;
  font-size: 1.2em;
}

section.story {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

section.story h2 {
  color: #fc7f09;
  font-size: 2em;
  margin-bottom: 10px;
  
}

section.story p {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 15px;
}

section.team {
  background-color: #f4f4f4;
  padding: 20px;
}

section.team h2 {
  text-align: center;
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

section.team .team-member {
  text-align: center;
  margin-bottom: 20px;
}

section.team .team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

section.team .team-member h3 {
  color: #333;
  font-size: 1.5em;
  margin-top: 10px;
}

section.team .team-member p {
  color: #777;
  font-size: 1em;
}

/* Media Query for Mobile */
@media (min-width: 768px) {
  .nav__links {
      display: flex !important;
      position: relative;
      flex-direction: row;
      background-color: transparent;
      padding: 0;
      top: 0;
  }

  .nav__links a {
      color: #fff;
      margin-right: 20px;
  }

  .nav__menu__btn {
      display: none;
  }
}
/*end about*/
/*gallery start (add code in later version)*/

/*end gallery*/

/*contact start*/
.contact-container {
  background-color: #fff;
  padding-left: 19px;
  padding-right: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 96%;
  margin-top: 100px; /* Space below the fixed nav */
  margin-left: 2rem;
}

h1 {
  text-align: center;
  color: var(--primary-color);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
  color: #555;
}

input, textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input[type="text"], input[type="email"] {
  height: 40px;
}

textarea {
  resize: none;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}
/*contact end*/
.footer {
  background-color: var(--primary-color-light);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

@media (width > 540px) {
  .special__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: 3fr 2fr;
  }
}

@media (width > 1200px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    color: var(--primary-color);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    color: var(--text-dark);
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }

  .nav__btn {
    display: flex;
    flex: 1;
  }

  .nav__btn .btn {
    padding: 8px 10px;
    font-size: 1.5rem;
    border-radius: 100%;
  }
